.app {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 10px;
}
.app h1, h2, p{
  margin: 0;
  padding: 0;
  color: white;
}
.app > h1 {
  padding-top: 15px;
  font-family: "方正舒体";
  font-size: 1.8em;
  text-align: center;
}
.app > .average-time {
  display: flex;
  align-items: center;
  height: 56px;
  font-size: 1.5em;
  font-family: "方正舒体";
}
.app > .average-time > span {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.8em;
}
.app > .average-time.warning > span {
  color: red;
}
.app > .average-time.normal > span {
  color: #9de8e6;
}
.app > .average-time.excellent > span {
  color: yellow;
}
.app > .average-time.amazing > span {
  color:#e98a7b;
}
.app > .average-time.dying > span {
  color: orange;
}

.app > ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.app > ul > li {
  position: relative;
  width: 33.33%;
  padding: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  border-left-width: 0;
  border-top-width: 0;
}
.app > ul > li:nth-child(3n+1) {
  border-left-width: 1px;
}
.app > ul > li:nth-child(-n+3) {
  border-top-width: 1px;
}
.app > ul > li > h2 {
  font-family: "幼圆";
  color: white;
}
.app .date,.app .time {
  font-weight: 700;
  font-family: "方正舒体";
  color: #e98a7b;
}
.app .delete {
  position: absolute;
  right: 3px;
  top: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("img/delete.png") no-repeat center;
  background-size: cover;
  cursor: pointer;
}

.app button {
  display: block;
  width: 80%;
  margin: 30px auto 50px;
  padding: 8px;
  color: white;
  background: #ef9980;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px#f48565;
  cursor: pointer;
}

.app .month .title  {
  font-size: 1.5em;
  font-family: "方正舒体";
}
.app .month .ant-calendar-picker  {
  width: 100px;
}

.app footer {
  position: fixed;
  bottom: 0;
  padding: 5px 0;
  left: 0;
  right: 0;
  background: #423b4e;
  font-size: 12px;
  color: #ccc;
  text-align: center;
}
