* {margin: 0; padding: 0;}
*, *::before, *::after{box-sizing: border-box}
a{text-decoration: none; color: inherit}
ul, ol{list-style: none;}
body{height: 100vh; color: white; font-size: 14px; background: #665f73; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
button{font-size: inherit; outline: none}
h1, h2, h3, h4{font-size: inherit; font-weight: normal;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.anticon-close-circle {
  color: #f5222d !important;
}
